/*
    Youtube Tutorial: Slide Away Web Page Exposes Nav Menu Part 1
    Youtube Author: Ralph Phillips
    Reference:
    - https://www.youtube.com/watch?v=TPaQ4HLPO-0
    - https://www.youtube.com/watch?v=uyL0X86HKtA
    ==============================================================
    Site Author: Dan Stachlewski
    Date Started: Tues 16/01/2018
*/

/* Google Fonts Embed Link */
@import url('https://fonts.googleapis.com/css?family=Oswald|Raleway');

/* All-Purpose Styles */
/* CSS RESETS */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

h1, h2, h3{
    font-family: 'Oswald', sans-serif;
    margin: 10px 90px;
}

h1{
    font-size: 2em;
}

h2{
    font-size: 1.5em;
}

p{
    font-family: 'Raleway', sans-serif;
    margin: 15px 90px;
    font-size: 1em;
}

.menu-slider{
    width: 330px; height: 100%;
    background-color: #222; color: #ddd;
    position: absolute;
    left: 0; top: 0;
    z-index: 1;
}
#container{
    background: #eee;
    width: 100%;
    position: absolute;
    /* left: 0; top: 0; */
    z-index: 5;
    transition: left 300ms ease-in-out;
}




/* Styles when Side Menu is HIDDEN */
.menu-slider-hidden #container{
    left: 0;
}
.menu-slider-hidden #menu-button{
    background-image: url('../assets/menu-icon.png');
}


/* Styles when Side Menu is DISPLAYED */
.menu-slider-displayed #container{
    left: 330px;
}
.menu-slider-displayed #menu-button{
    background-image: url('../assets/close-icon.png');
}


#menu-button{
    display: block;
    width: 40px; height: 40px;
    background-size: contain;
}
